/* Default Navbar Styles */
.navbar {
    padding-inline: 70px;
    padding-top: 10px;
    flex-direction: row; /* Default direction for larger screens */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-links {
    display: flex;
    gap: 90px;
    justify-content: center;
    align-items: center;
  }
  
  .navbar-nav-links {
    font-weight: 600;
    display: flex;
    gap: 20px;
  }
  
  .navbar-buttons {
    display: flex;
    gap: 10px;
  }
  
  /* Media Queries for Mobile Responsiveness */
  @media (max-width: 1000px) {
    .navbar {
      padding-inline: 20px;
      flex-direction: column; /* Stack items vertically */
      align-items: center; /* Center align items */
      display: none;
    }
  
    .navbar-links {
      gap: 40px;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
    }
  
    .navbar-nav-links {
      font-size: 16px;
      text-align: center;
      gap: 15px;
    }
  
    .navbar-buttons {
      flex-direction: column; /* Stack buttons vertically */
      gap: 10px;
      margin-top: 20px;
    }
  
    .navbar-buttons .ant-btn {
      width: 100%; /* Make buttons take full width */
    }
  }
  
  @media (max-width: 600px) {
    .navbar{
        display: none;
    }
    .navbar-nav-links h1 {
      font-size: 14px;
    }
  
    .navbar-buttons .ant-btn {
      font-size: 14px;
    }
  }
  