.manga-grid-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.manga-grid-subcontainer {
  background-color: #000000;
  border-radius: 30px;
  margin-right: 1%;
  margin-top: 1%;
}

.manga-grid {
  display: grid;
  grid-template-areas:
    "image1 image1 image3 image3"
    "image2 image2 image3 image3";
  grid-gap: 10px;
  padding: 10px;
  width: 550px;
  height: 350px;
  border-radius: 30px;
}

.image {
  position: relative;
  overflow: hidden;
  border: 2px solid #000;
  border-radius: 10%;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: fit;
}

.image-1 {
  grid-area: image1;
}

.image-2 {
  grid-area: image2;
}

.image-3 {
  grid-area: image3;
}